@tailwind base;
@tailwind components;
@tailwind utilities;

.info-card{
    @apply bg-ash rounded-xl my-3 p-4 flex flex-col gap-2
}

.page-section{
    scroll-snap-align: end;
}
.home-container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}